<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LANDING PAGE </title>
    <link href="/styles/landing.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="sidebar">
        <img class="gambar" src="/images/BG TWITTER.png">
    </div>
    <div class="artikel">
        <img class="gambar2" src="/images/580b57fcd9996e24bc43c53e.png">
        <h1>
            <b> Sedang tren saat ini</b>
        </h1>
        <h3>
            Bergabunglah dengan twiter sekarang juga
        </h3>

            <button><b><a href="/register">Daftar</a></b> </button>
            <button class="hitam"><b><a href="/login">Masuk</a></b></button>


    </div>
    <div class="footer">
        <p>
            Tentang Pusat Bantuan Persyaratan Persyaratan Layanan Kebijakan Privasi Kebijakan penggunaan Kuki
            Informasi iklan Blog Status Sumber daya merek Periklanan Pemasaran Twitter untuk Bisnis Pengembang
            Direktori Pengaturan 2021 Twitter, Inc.
        </p>
        </divc>

</body>

</html>