body {
    background-color: black;
}

.form {
    margin-left: 35%;
    margin-right: 35%;
}

.tengah {
    text-align: center;
    box-align: center;
}

input {
    margin-top: 15px;
    width: 380px;
    height: 50px;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 5px;
}

.gambar2 {
    width: 20%;
}

h1 {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 380px;
    height: 50px;
    background-color: rgb(84, 178, 233);
    border: rgb(84, 178, 233);
    border-radius: 50px;
}

p a {
    color: rgb(84, 178, 233);
}

form input{
    color: white;
    background-color: black;
}